@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --blue-primary: #275b85;
  --blue-variant: #172140;
  --secondary-orange: #f4a322;
  --background-variant: #f7f2e9;
  --black-primary: black;
  --black-variant: rgb(17, 17, 17);
  --red-primary: #07bbff;
  --gray-main: #202020;
  --gray-border: #2b2a2a;
  --text-color: rgb(33, 37, 41);
  --main-font: "Roboto", sans-serif;
}

/*===== PRESETS =====*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--main-font);
  font-size: 18px;
}

.for-overflow {
  overflow-x: hidden;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

button {
  font-family: var(--main-font);
  cursor: pointer;
}

/*===== UTILITY CLASSES =====*/

.container {
  width: 85%;
  max-width: 1200px;
  margin-inline: auto;
}

.section-padding {
  padding-block: 3rem;
}

/*===== HEADER STYLES =====*/
header.law-header {
  background-color: var(--blue-primary);
  color: white;
  padding-block: 2rem;
}

header.law-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.law-header .container .logo {
  width: 81px;
  height: 65px;
  position: relative;
}

header.law-header .container .navigations {
  display: flex;
  gap: 2.5rem;
}

header.law-header .container .navigations .nav-links ul {
  display: flex;
  gap: 2.25rem;
}

header.law-header .container .navigations .nav-links ul a {
  color: var(--blue-variant);
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

header.law-header .container .navigations .nav-links ul a:hover {
  color: white;
}

header.law-header .container .navigations .nav-links ul a.active-nav {
  color: white;
}

header.law-header .container .navigations .get-started a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  padding: 1.25rem 3.5rem;
  border: 2px solid var(--secondary-orange);
  border-radius: 5px;
  background-color: var(--secondary-orange);
  transition: all 0.3s ease-in;
}

header.law-header .container .navigations .get-started a:hover {
  color: white;
  border: 2px solid white;
  background-color: transparent;
}

/*==== BANNER STYLES =====*/

section.home-banner {
  background-color: white;
}

section.home-banner .container {
  display: flex;
  align-items: center;
}

section.home-banner .container .banner-copy {
  width: min(43vw, 600px);
}

section.home-banner .container .banner-copy p.small-intro {
  text-transform: uppercase;
  color: var(--secondary-orange);
}

section.home-banner .container .banner-copy h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: var(--blue-variant);
  margin-bottom: 1rem;
}

section.home-banner .container .banner-copy p.copy-statement {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 2rem;
}

section.home-banner .container .banner-copy .banner-cta {
  height: 58px;
  position: relative;
}

section.home-banner .container .banner-copy .banner-cta a {
  text-decoration: none;
  padding: 1rem 2rem;
  border: 2px solid var(--blue-primary);
  position: absolute;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

section.home-banner .container .banner-copy .banner-cta a:first-child {
  left: 0;
  background-color: var(--blue-primary);
  color: white;
}

section.home-banner .container .banner-copy .banner-cta a:last-child {
  left: 172px;
  background-color: transparent;
  color: var(--blue-primary);
}

section.home-banner .container .banner-image {
  width: min(45vw, 630px);
  aspect-ratio: 631 / 464;
  position: relative;
}

section.home-banner .container .banner-image img {
  width: 100%;
  object-fit: cover;
}

/*===== BENEFITS SECTION STYLES =====*/
section.benefits {
  background-color: var(--background-variant);
}

section.benefits .container .how-it-works {
  display: flex;
  justify-content: space-between;
}

section.benefits .container .how-it-works .system-illustration {
  width: min(565px, 40vw);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  aspect-ratio: 565 / 512;
  background-color: white;
  padding: 2rem;
}

section.benefits .container .how-it-works .system-illustration > div {
  width: 100%;
  height: 100%;
  position: relative;
}

section.benefits .container .how-it-works .system-explanation {
  width: min(39vw, 540px);
}

section.benefits .container .how-it-works .system-explanation h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue-variant);
  margin-bottom: 1.5rem;
}

section.benefits .container .how-it-works .system-explanation p.explanation-paragraph {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

section.benefits .container .how-it-works .system-explanation .summary-statement {
  padding: clamp(2rem, -10rem + 16vw, 4rem) 2rem;
  font-size: clamp(2rem, -7rem + 12vw, 3.5rem);
  font-weight: bold;
  border: thin solid var(--blue-primary);
  text-align: center;
  color: var(--blue-primary);
}

section.benefits .container .actual-benefits {
  margin-top: 3rem;
}

section.benefits .container .actual-benefits .actual-benefits-intro {
  width: 328px;
}

section.benefits .container .actual-benefits .actual-benefits-intro h2 {
  font-size: 28px;
  font-weight: bold;
  color: var(--blue-variant);
  margin-bottom: 1rem;
}

section.benefits .container .actual-benefits .actual-benefits-intro p.benefits-intro-paragraph {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

section.benefits .container .actual-benefits .actual-benefits-body {
  display: flex;
  justify-content: space-between;
}

section.benefits .container .actual-benefits .actual-benefits-body .tabs-navigation {
  width: min(424px, 30vw);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.benefits .container .actual-benefits .actual-benefits-body .tabs-navigation button {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: 1rem;
  padding-block: 1rem;
  font-size: 20px;
  font-weight: bold;
  color: var(--blue-primary);
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: white;
  transition: all 0.3s ease-in;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section.benefits .container .actual-benefits .actual-benefits-body .tabs-navigation button:hover {
  background: var(--blue-primary);
  color: white;
}

section.benefits .container .actual-benefits .actual-benefits-body .tabs-navigation button.active-benefit {
  background: var(--blue-primary);
  color: white;
}

section.benefits .container .actual-benefits .actual-benefits-body .benefit-display-article {
  width: min(52vw, 736px);
  height: clamp(22.8125rem, 43.0625rem + -27vw, 19.4375rem);
  background-color: var(--secondary-orange);
  padding: 1rem 2rem;
}

section.benefits .container .actual-benefits .actual-benefits-body .benefit-display-article h3 {
  width: 210px;
  font-size: 24px;
  font-weight: bold;
  color: var(--blue-primary);
  margin-bottom: 1rem;
}

section.benefits .container .actual-benefits .actual-benefits-body .benefit-display-article .benefit-detail-body {
  display: flex;
}

section.benefits .container .actual-benefits .actual-benefits-body .benefit-display-article .benefit-detail-body .benefit-large-icon {
  padding-right: 22px;
  margin-right: 22px;
  border-right: 8px solid var(--blue-primary);
  height: fit-content;
}

section.benefits .container .actual-benefits .actual-benefits-body .benefit-display-article .benefit-detail-body p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

/*===== FEATURES SECTION STYLES =====*/
section.features {
}

section.features h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 760px;
  margin-inline: auto;
  margin-bottom: 4rem;
  color: var(--blue-primary);
}

section.features .container {
  display: flex;
  flex-direction: column;
  gap: 148px;
}

section.features .container .feature {
  display: flex;
  gap: 4rem;
}

section.features .container .feature:nth-child(even) {
  flex-direction: row-reverse;
}

section.features .container .feature .feature-description {
  width: 50%;
}

section.features .container .feature .feature-description h3 {
  font-size: 36px;
  font-weight: bold;
  color: var(--blue-primary);
  margin-bottom: 1.5rem;
}

section.features .container .feature .feature-description p.leading-paragraph {
  line-height: 1.5;
  margin-bottom: 1rem;
}

section.features .container .feature .feature-description ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.features .container .feature .feature-description ul h4 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--blue-variant);
  font-weight: bold;
}

section.features .container .feature .feature-description ul p {
  line-height: 1.5;
}

section.features .container .feature .feature-image {
  flex-basis: 50%;
}

/*===== SUMMARY SECTION STYLES =====*/
section.summary {
  background-color: var(--background-variant);
  margin-top: 3rem;
}

section.summary h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: var(--blue-variant);
  margin-bottom: 5rem;
}

section.summary .company-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  align-items: center;
  margin-bottom: 5rem;
}

section.summary .company-logos img {
  justify-self: center;
}

section.summary .get-started-cta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
}

section.summary .get-started-cta > div {
  width: 50%;
}

section.summary .get-started-cta h3 {
  font-size: 32px;
  font-weight: bold;
  color: var(--blue-variant);
  margin-bottom: 1rem;
}

section.summary .get-started-cta p {
  width: min(464px, 33vw);
  line-height: 1.5;
}

section.summary .get-started-cta .get-started-btns {
  margin-top: 2rem;
  height: fit-content;
}

section.summary .get-started-cta .get-started-btns a {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border: 2.5px solid var(--blue-primary);
  padding: 20px 40px;
  border-radius: 5px;
  color: var(--blue-primary);
}

section.summary .get-started-cta .get-started-btns a:first-child {
  background-color: var(--blue-primary);
  color: white;
  margin-right: 0.25rem;
}

/*===== FOOTER STYLES =====*/
footer {
  background-color: var(--blue-primary);
  color: rgba(255, 255, 255, 0.7);
}

footer .container {
  width: clamp(59.6875rem, 17.9854rem + 65.1596vw, 75rem);
}

footer .upper-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.footer-card {
  margin-bottom: 3rem;
}

.footer-card h4 {
  font-size: 17px;
  margin-bottom: 1rem;
}

.footer-card:not(:first-child) {
  justify-self: end !important;
}

.footer-card:first-child h4 {
  font-weight: 700;
}

.footer-card:first-child form {
  margin-bottom: 1rem;
  display: flex;
}

.footer-card:first-child form input {
  width: 60%;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding-block: 0.75rem;
  padding-left: 1rem;
  color: white;
  margin-right: 0.5rem;
}

.footer-card:first-child form input:focus {
  border: 1px solid white;
}

.footer-card:first-child form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
}

.footer-card:first-child form button {
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0, 7);
  color: var(--blue-primary);
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer-card:first-child form button:hover {
  background-color: white;
  border: 1px solid white;
}

.footer-card:first-child form button img {
  margin-right: 0.75rem;
}

.footer-card:first-child .social-icons > div {
  display: inline-block;

  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
}

.footer-card:first-child .social-icons > div:hover {
  opacity: 1;
}

.footer-card:first-child .social-icons a {
  text-decoration: none;
  color: var(--blue-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-card:first-child .social-icons img {
  opacity: 0.7;
}

.footer-card:first-child .social-icons img:hover {
  opacity: 1;
}

.footer-card:not(:first-child) {
  justify-self: end !important;
}

.footer-card:first-child h4 {
  font-weight: 700;
}

.footer-card:first-child form {
  margin-bottom: 1rem;
}

.footer-card:first-child form input {
  width: 60%;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding-block: 0.75rem;
  padding-left: 1rem;
  color: white;
}

.footer-card:first-child form input:focus {
  border: 1px solid white;
}

.footer-card:first-child form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
}

.footer-card:first-child form button {
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0, 7);
  color: var(--blue-primary);
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer-card:first-child form button:hover {
  background-color: white;
  border: 1px solid white;
}

.footer-card:first-child form button i {
  margin-right: 0.75rem;
}

.footer-card:first-child .social-icons > div {
  display: inline-block;

  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
}

.footer-card:first-child .social-icons > div:hover {
  opacity: 1;
}

.footer-card:first-child .social-icons a {
  text-decoration: none;
  color: var(--blue-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-card:nth-child(2) .card-content > div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.footer-card:nth-child(2) .card-content p {
  display: inline-block;
}

.footer-card:nth-child(2) .card-content i {
  margin-right: 1rem;
  line-height: 1.5;
  width: 16px;
}

.footer-card:nth-child(2) .card-content .special-para {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer-card:nth-child(2) .card-content .special-para img {
  opacity: 0.7;
}

.footer-card:nth-child(2) .card-content .special-para p {
  line-height: 1.5;
}

.footer-card:nth-child(3) a {
  display: block;
  text-decoration: none;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}

.footer-card:nth-child(3) a:hover {
  color: white;
}

.footer-card:nth-child(4) .review-logo {
  border: 1px solid #99a9bd;
  margin-bottom: 1rem;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.footer-card:nth-child(4) .review-logo img {
  opacity: 0.7;
  transition: all 0.3s ease;
}

.footer-card:nth-child(4) a:hover .review-logo {
  border: 1px solid white;
}

.footer-card:nth-child(4) a:hover .review-logo img {
  opacity: 1;
}

footer .lower-footer {
  padding-top: 3rem;
}

footer .lower-footer .container {
  display: flex;
  justify-content: space-between;
}

footer .lower-footer .container a {
  text-decoration: none;
  color: #99a9bd;
  transition: all 0.3s ease;
}

footer .lower-footer .container a:hover {
  color: white;
}
